# 包管理器文件
.npmrc
yarn.lock
pnpm-lock.yaml
package-lock.json

# 包管理器日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# 编辑器配置
.idea/
.vscode/

# 临时文件
/logs/
/temp/

# 配置
/plugins/
/data/
/config/config
/resources

# 依赖
node_modules/
config/config/pm2.yaml
