[submodule "lib/adapter/kritor/kritor"]
	path = lib/adapter/kritor/kritor
	url = https://github.com/KarinJS/kritor.git
[submodule "lib/adapter/kritor/gitee_kritor"]
	path = lib/adapter/kritor/gitee_kritor
	url = https://gitee.com/KarinJS/kritor
