/* eslint-disable @stylistic/indent */
/**
 * 导入HarmonyOS字体
 */
@font-face {
  font-family: 'HarmonyOS';
  src: url('https://s1.hdslb.com/bfs/static/jinkela/long/font/HarmonyOS_Medium.as.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/**
 * 修复终端字体间隙问题
 */
.xterm-rows {
  line-height: 0.8 !important;
  letter-spacing: -0.05em !important;
  word-spacing: -0.1em !important;
  font-kerning: none !important;
}

/* 修复每一行的高度 */
.xterm-rows>div {
  height: auto !important;
  transform: translateY(-2px);
  margin-bottom: -2px !important;
}

/* 针对中文字符调整 */
.xterm-rows span:not(:empty) {
  letter-spacing: -0.1em !important;
  display: inline-block;
}

/* 确保视口行高正确 */
.xterm .xterm-viewport {
  line-height: 0.8 !important;
}

/* 消除额外间距 */
.xterm-screen {
  margin: 0 !important;
  padding: 0 !important;
}

/* 调整光标样式 */
.xterm .terminal-cursor {
  margin-top: -2px;
  height: 105% !important;
  transform: scaleX(0.5) !important;
  /* 减小光标宽度 */
  opacity: 0.8 !important;
  /* 降低不透明度使其看起来更细 */
}

/* xterm中的光标样式调整 */
.xterm .xterm-cursor-block {
  width: 0.5em !important;
  transform-origin: left center;
}

/* 修复空格宽度 */
.xterm-rows span:empty {
  display: inline-block;
  width: 0.7em !important;
}