/* var.css */
/*  */
:root {
  --vp-c-brand-1: #5224b6;
  --vp-c-brand-2: #352984;
  --vp-c-brand-3: #6d68c1;
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #f6abe9 50%, #ebe0ba 50%);
  --vp-home-hero-image-filter: blur(150px);
}

/* 主题色，浅色模式，深紫色调 */
.dark {
  --vp-c-brand-1: #C8ABFA;
  --vp-c-brand-2: #3c30a4;
  --vp-c-brand-3: #352984;
}

/* 移除链接跳转下划线 */
.vp-doc a {
  text-decoration: none;
}

/* 提示框背景颜色 */
:root {
  --vp-custom-block-tip-bg: var(--vp-c-green-soft);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #6B7BF8, #F68BC6);
}

/* 提示框 */
.custom-block.tip {
  border-color: var(--vp-c-green-2);
}

/* 警告框 */
.custom-block.warning {
  /* border-color: #d97706; */
  border-color: var(--vp-c-yellow-2);
}

/* 危险框 */
.custom-block.danger {
  /* border-color: #f43f5e; */
  border-color: var(--vp-c-red-2);
}

/** 响应式图片缩放覆盖范围 */
/** 最顶层 */
.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 9999 !important;
  /* 给的值是21，但是实测盖不住，直接999 */
}