name: 群聊配置
view:
  -
    key: 默认配置
    path: 'default'
    type: 'group'
    part:
        -
          key: 消息冷却时间
          comment: 群聊中所有消息冷却时间，0则无限制
          path: 'default.global_cd'
          type: 'number'
          suffix: 秒
        -
          key: 个人消息冷却时间
          comment: 群聊中 每个人的消息冷却时间，0则无限制。注意，开启后所有消息，无论是否触发插件。
          path: 'default.personal_cd'
          type: 'number'
          suffix: 秒
        -
          key: 机器人响应模式
          comment: 机器人响应模式，0-所有 1-仅@机器人 2-仅回应主人 3-仅回应前缀 4-前缀或@机器人 5-主人无前缀，群员前缀或@机器人
          path: 'default.mode'
          type: 'select'
          multiple: false
          item:
            -
              name: 所有
              value: 0
            -
              name: 仅@机器人
              value: 1
            -
              name: 仅回应主人
              value: 2
            -
              name: 仅回应前缀
              value: 3
            -
              name: 前缀或@机器人
              value: 4
            -
              name: 主人无前缀，群员前缀或@机器人
              value: 5
        -
          key: 机器人前缀
          comment: 机器人前缀 设置后前缀+指令触发机器人
          path: 'default.ailas'
          type: 'array'
          arrayType: 'text'
        -
          key: 白名单插件
          comment: 白名单插件、功能，只有在白名单中的插件、功能才会响应
          path: 'default.enable'
          type: 'array'
          arrayType: 'text'
        -
          key: 黑名单插件
          comment: 黑名单插件、功能，黑名单中的插件、功能不会响应
          path: 'default.disable'
          type: 'array'
          arrayType: 'text'
