# 当前文件热更新是否重启http、grpc服务
HotUpdate: false

# http 服务器配置
http:
  # 监听地址
  host: 0.0.0.0
  # 端口
  port: 7000

dashboard:
  # 是否开启dashboard
  enable: true
  # 用户名
  username: admin
  # 密码
  password: admin
  # 端口
  port: 7010

api2:
  # 端口
  port: 7011

# grpc 服务器配置
grpc:
  # 监听地址
  host: 0.0.0.0:7001
  # Api请求超时时间 秒
  timeout: 60

# websocket 服务器配置
websocket:
  # API请求超时时间 秒
  timeout: 60
  # websocket 渲染器地址 ws://127.0.0.1:7005/ws/render
  render: []
  # onebot11 正向WebSocket地址
  OneBot11Host: []
  # onebot12 正向WebSocket地址
  OneBot12Host: []

# HTTP渲染器配置
HttpRender:
  # 是否开启http渲染
  enable: false
  # karin端Api地址 公网 > 局域网 > 127
  host: http://127.0.0.1:7000
  # karin-puppeteer渲染器 post请求地址
  post: http://127.0.0.1:7005/api/render
  # karin-puppeteer渲染器 post请求token
  token: Karin-Puppeteer
  # 请求的非html或非有效路径的返回内容 可以填http地址 例如：https://ys.mihoyo.com
  not_found: "404 Not Found"
  # Wormhole代理地址 无公网环境的情况下使用
  WormholeClient: ""
