name: release
on:
  push:
    branches:
      - main

# 赋予 release-please-action 权限
permissions:
  contents: write
  id-token: write
  pull-requests: write

jobs:
  # 设置 release-please 任务
  release-please:
    # 设置任务运行环境为 ubuntu-latest
    runs-on: ubuntu-latest
    outputs:
      core: ${{ steps.release.outputs['packages/core--release_created'] }}
      cli: ${{ steps.release.outputs['packages/cli--release_created'] }}
      create-karin: ${{ steps.release.outputs['packages/create-karin--release_created'] }}
      web: ${{ steps.release.outputs['packages/web--release_created'] }}

    steps:
      # 使用 release-please-action 动作来自动创建发布 PR
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: .release-please-config.json
          manifest-file: .release-please-manifest.json

  publish:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.core || needs.release-please.outputs.cli || needs.release-please.outputs.create-karin }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'

      - uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: 安装依赖
        run: |
          for i in 1 2 3; do
            pnpm install && break || {
              echo "安装失败，重试 $i/3"
              sleep 2
            }
          done

      - name: 构建
        run: pnpm build

      - name: 更新npm到最新
        run: npm install -g npm

      - name: 复制 README
        run: cp README.md packages/core

      - name: 发布 core
        if: ${{ needs.release-please.outputs.core }}
        working-directory: packages/core
        run: pnpm publish --no-git-checks

      - name: 发布 cli
        if: ${{ needs.release-please.outputs.cli }}
        working-directory: packages/cli
        run: pnpm publish --no-git-checks

      - name: 发布 create-karin
        if: ${{ needs.release-please.outputs.create-karin }}
        working-directory: packages/create-karin
        run: pnpm publish --no-git-checks

  syncn:
    runs-on: ubuntu-latest
    needs: [release-please, publish]
    steps:
      - name: 同步仓库状态
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: sync.yml
          repo: KarinJS/repo-status
          # Required when using the `repo` option. Either a PAT or a token generated from the GitHub app or CLI
          token: ${{ secrets.RELEASE }}

      # 同步所有包
      - name: 同步所有包
        run: |
          # 同步主包
          curl -X PUT "https://registry-direct.npmmirror.com/-/package/node-karin/syncs"
          # 同步 cli 包
          curl -X PUT "https://registry-direct.npmmirror.com/-/package/@karinjs/cli/syncs"
          # 同步 create-karin 包
          curl -X PUT "https://registry-direct.npmmirror.com/-/package/create-karin/syncs"

      # 当core包发布成功时触发Docker构建
      - name: 触发Docker构建
        if: ${{ needs.release-please.outputs.core == 'true' }}
        uses: benc-uk/workflow-dispatch@v1
        with:
          repo: '${{ github.repository_owner }}/karin-docker'
          workflow: docker.yaml
          token: ${{ secrets.RELEASE }}
